
:root{
    --header-height: 3rem;
    --header-back: whitesmoke;
    --border-width: 2px;
    --border: var(--border-width) solid lightgrey;
}

#interface-header{
    display: none;
}

#interface-index{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-auto-rows: repeat(auto-fit, minmax(50%, 1fr));
    gap: var(--border-width);

    height: calc(100vh - var(--header-height));
    overflow: hidden;
}

#interface-index iframe{
    width: calc(100% + calc(2 * var(--border-width)));
    height: calc(100% + calc(2 * var(--border-width)));
    overflow: hidden;

    border: var(--border);
    box-sizing: border-box;
    margin: calc(-1 * var(--border-width));
}

#interface-content{
    height: calc(100vh - var(--header-height));
    overflow: hidden;
}
#interface-content iframe{
    width: 100%;
    height: 100%;
}


#interface-header{
    display: block;
    
    font-family: monospace;
    font-size: 0.825rem;
    color: black;

    background-color: var(--header-back);
    border-bottom: var(--border);
    
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;

    height: var(--header-height);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
#interface-header p{
    font-weight: bold;
}
#interface-header h2{
    opacity: 0.5;
}
#interface-header h2:not(:first-child){
    margin-left: 1rem;
}

#interface-content,
#interface-index{
    margin-top: var(--header-height);
}
