<!DOCTYPE html>

<html lang="en">

  <head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>{% block title %}wiki-through-ether{% endblock%}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS reset, uncomment this line to supress the default browser CSS style -->
    <link rel="stylesheet" type="text/css" href="static/css/reset.css" />

    <!-- CSS that is applied but outside of pad (for interface, etc) -->
    <link rel="stylesheet" type="text/css" href="static/css/interface.css" />

    {% block css_pad %}{% endblock %}

    <script src="static/js/jquery-3.6.4.min.js"></script>

  </head>

  <body>

    {% block body %}

    {% endblock %}

  </body>

</html>

