{% extends "base.html" %}

{% block body %}

    <header id="interface-header">
        <h2>index</h2>
        <p>wikipedia through a layer of etherstyling</p>
    </header>

    <main id="interface-index">
        {% for p in saved_requests %}
            <iframe src="/{{p}}" frameborder="0"></iframe>
        {% endfor %}
    </main>

{% endblock %}

